*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: #f3f3f3;
}

[id] {
    scroll-margin-top: 79px;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

.orange-color {
    color: rgb(255, 102, 0);
}

.orange-background {
    background-color: rgb(255, 102, 0);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    text-transform: none;
}

.navbar-toggler {
    font-size: 1.8rem;
}

.nav-link {
    font-weight: 500;
}

/* Hero */

header.hero-carrousel {
    font-size: 2rem;
}

.carousel-item {
    position: relative;
    height: 600px;
    background-position: center center;
    background-size: cover;
    z-index: 0;
}

.custom-hero-title {
    font-weight: 500;
}

.custom-hero-text {
    font-size: 1.5rem;
}

.custom-hero-title,
.custom-hero-text {
    line-height: 1.5;
}

.custom-carousel-image--one {
    background-image: url("../assets/media/homepage/carrousel/main-carousel-1.jpg");
}

.custom-carousel-image--two {
    background-image: url("../assets/media/homepage/carrousel/main-carousel-2.jpg");
}

.custom-carousel-image--three {
    background-image: url("../assets/media/homepage/carrousel/main-carousel-3.jpg");
}

.custom-home-boxes,
.our-story {
    padding: 5em 0;
}

.hero-shadow--passion {
    background: linear-gradient(to right, rgba(20, 20, 20, 1) 10%, rgba(20, 20, 20, 0.7) 60%, rgba(20, 20, 20, 0.1) 100%);
}

.home-passion {
    position: relative;
    height: 300px;
    background-image: url("../assets/media/homepage/carrousel/main-carousel-1.jpg");
    z-index: 0;
}

.our-story h3 {
    margin-bottom: .75em;
    font-size: 2.4rem;
    font-weight: 600;
}

@media (min-width: 1400px) {
    .carousel-item {
        height: 800px;
    }

    .custom-carousel-image--one {
        background-image: url("../assets/media/homepage/carrousel/main-carousel-1-hq.jpg");
    }

    .custom-carousel-image--two {
        background-image: url("../assets/media/homepage/carrousel/main-carousel-2-hq.jpg");
    }

    .custom-carousel-image--three {
        background-image: url("../assets/media/homepage/carrousel/main-carousel-3-hq.jpg");
    }
}