$indigo: #4b0082;
$red: #ff0000;
$tomato: #ff6347;
$royalBlue: #4169e1;
$gold: #ffd700;
$lime: #00ff00;
$grass: #008700;
$black: #000000;
$light: #eeeeee;
$white: #ffffff;
$dark: #565656;
$sun: #ffff00;
$nightSky: #000030;