@use "./colors";

@mixin burgerBtn {
  content: "";
  position: absolute;
  right: 0;
  height: 3px;
  background-color: colors.$pure-white;
  transition: width 300ms;
}

@mixin heroImage($bgGradient, $bgImg) {
  background-image: $bgGradient, url($bgImg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@mixin cardStyles {
  height: 100%;
  padding: 2em;
  border-radius: 6px;
  transition: transform 800ms linear, opacity 800ms linear;
}

@mixin cardTitleStyles {
  font-family: var(--dancing-script-regular);
  font-size: 4rem;
}