@use "reset";
@use "colors" as colors;
@use "variables" as vars;

html {
  font-size: 10px;
}

@mixin buttonStyles {
  padding: 10px;
  font-size: 2.2rem;
  color: colors.$light;
  background: none;
  border: 3px solid colors.$light;
  border-radius: 10px;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: colors.$light;
  background-color: colors.$black;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 3rem 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 600px;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;

    button {
      @include buttonStyles;
      position: absolute;
      right: 20px;
      transition: color .3s, background-color .3s;
      cursor: pointer;

      &:hover {
        background-color: colors.$light;
        color: colors.$black;
      }
    }
    
    .square {
      @include buttonStyles;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  } 
}


