*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    font-size: 1.6rem;
    background-color: #f3f3f3;
}

[id] {
    scroll-margin-top: 79px;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.orange-color {
    color: rgb(255, 102, 0);
}

.orange-background {
    background-color: rgb(255, 102, 0);
}