* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: calc(100vh - (43.47px + 66px));
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1e1d23;
}

button.btn:hover {
  background: #1e1d23;
}

img {
  width: 200px;
}

/* h1 {
  text-transform: uppercase;
  border-bottom: 2px solid #00ff00;
   margin-bottom: 50px;
}

.btnContainer {
  margin-bottom: 40px;
}

label {
  font-size: 2.25rem;
}

input {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 15px 40px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 20px;
}

button {
  padding: 20px 40px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  color: #fff;
  border: 2px solid #ddd;
  border-radius: 12px;
  text-transform: uppercase;
  transition: .3s;
}

button:hover {
  background: #fff;
  color: #1e1d23; 
} */