@use "../colors";

.dreams {
  &__title {
    margin-bottom: .5em;
  }
  &__box {
    display: flex;
    flex-direction: column;
    margin: 4em 0;

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 6px;
    object-fit: cover;
  }
  &__text {
    font-size: 1.2rem;
    color: colors.$paragraph-color;
  }
}

@media (min-width: 576px) {
  .dreams {
    &__box {
      flex-direction: row;

      &-img {
        width: 45%;

        &--left {
          margin-right: 2em;
        }

        &--right {
          margin-left: 2em;
          order: 1;
        }
      }

      &-text {
        width: 55%;

        &--right {
          text-align: right;
        }
      }
    }

    &__img {
      margin-bottom: 0;
      max-height: 300px;
    }
  }
}

@media (min-width: 768px) {
  .dreams {
    &__text {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 992px) {
  .dreams {
    &__title {
      font-size: 3.2rem;
      font-weight: 700;
    }
    &__text {
      font-size: 2.2rem;
    }
  }
}