@use "../colors";
@use "../mixins";

.header {
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  color: colors.$pure-white;
  @include mixins.heroImage(colors.$blue-gradient, "../assets/images/hero_image_mobile.jpg");

  &__title {
    font-family: var(--dancing-script-regular);
    font-size: 4rem;
  }

  &__text {
    margin-top: .25em;
  }

  &__link {
    margin-top: 2em;
    background: colors.$pure-white;
    padding: 0.8em 1.6em;
    border: none;
    border-radius: 10px;
    color: colors.$dark;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;

    &::before {
      background-color: colors.$light-white;
    }
  }
}

@media (min-width: 375px) {
  .header__title {
    font-size: 4.8rem;
  }
}

@media (min-width: 768px) {
  .header {
    background-image: colors.$blue-gradient ,url("../assets/images/hero_image_desktop.jpg");
    
    &__title {
      font-size: 4em;
    }
    &__text {
      font-size: 2rem;
    }
    &__link {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 992px) {
  .header {
    &__title {
      font-size: 5em;
    }
    &__text {
      font-size: 2.5rem;
    }
    &__link {
      font-size: 2rem;
    }
    .white-block-left {
      width: 50%;
      height: 30px;
    }
  }
}